<div class="page-header">
  <%= link_to new_warehouse_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t 'views.new_model', :model => t('activerecord.models.warehouse') %>
  <% end %>
  <h1><%= t 'views.list_model', :model => t('activerecord.models.warehouse', :count => 2) %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th><%= t('activerecord.attributes.warehouse.name') %></th>
            <th><%= t('activerecord.attributes.warehouse.description') %></th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @warehouses) do |warehouse| %>
            <td><%= warehouse.name %></td>
            <td><%= warehouse.description %></td>
            <td>
          <%= link_to t('views.show'), warehouse %>
          <%= link_to t('views.edit'), edit_warehouse_path(warehouse) %>
          <%= link_to t('views.destroy'), warehouse, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
